@import "tailwindcss";

:root {
  --color-primary: #e11d48;
  --color-secondary: #fb7185;
}

body {
  margin: 0;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}
